<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="h-100">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" th:href="@{/css/movie.css}">
  <script th:src="@{js/index.js}"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
  <script>
    document.addEventListener('DOMContentLoaded', (event) => {
      const uniqueId = localStorage.getItem('uniqueId');
      if (!uniqueId) {
        fetch('/generate-unique-id')
                .then(response => {
                  const newUniqueId = response.headers.get('X-Unique-ID');
                  if (newUniqueId) {
                    localStorage.setItem('uniqueId', newUniqueId);
                  }
                })
                .catch(error => console.error('Error:', error));
      } else {
        console.log('Unique ID:', uniqueId);
      }
    });

    function sendUniqueId() {
      const uniqueId = localStorage.getItem('uniqueId');
      if (uniqueId) {
        fetch('/receive-id', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(uniqueId)
        })
                .then(response => {
                  if (response.ok) {
                    console.log('ID sent successfully');
                  } else {
                    console.error('Failed to send ID');
                  }
                })
                .catch(error => console.error('Error:', error));
      } else {
        console.error('No unique ID found in local storage');
      }
    }
  </script>
</head>
<body>

<header th:style="'background-image: url(\'' + ${movie.backdropPath} + '\');'">
  <nav>
    <p class="logo">
      VOD<span>Platform<span>
    </p>

    <i class="fa fa-bars" id="menu"></i>

    <ul id="menu-box">

      <li>GitHub</li>
      <li>Documentation</li>
    </ul>

  </nav>

  <div class="popular-movie-slider">

    <img th:src="${movie.posterPath}" class="poster">

    <div class="popular-movie-slider-content">
      <h2 class="movie-name" th:text="${movie.title}"></h2>
      <ul class="category">
        <p th:each="category,iter : ${movie.genres}" th:text="${category}" th:if="${iter.index == 0}"></p>
        <li th:each="category, iter : ${movie.genres}" th:text="${category}" th:unless="${iter.index == 0}"></li>
      </ul>
      <p class="desc" th:text="${movie.overview}"></p>

      <div class="movie-info">
        <i class="fa fa-clock-o"> &nbsp;&nbsp;&nbsp;<span th:text="${movie.runtime}"></span></i>
        <i class="fa fa-volume-up"> &nbsp;&nbsp;&nbsp;<span th:text="'votes count '+${movie.voteCount}"></span></i>
        <i class="fa fa-circle"> &nbsp;&nbsp;&nbsp;<span th:text="'Imdb: ' + ${movie.voteAverage} + '/10'"></span></i>

      </div>
    </div>

  </div>

</header>

<section>
  <div class="movie-card-section">

    <div class="card">
      <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTCXgCV-ZNb3InBCTaLdED58dF6iZJxIvCOBurktiWxXrwGc8DB">

      <div class="card-content">
        <p class="movie-name">
          the mummy
        </p>
      </div>
    </div>
    <div class="card">
      <img src="https://m.media-amazon.com/images/M/MV5BMTYzODQzYjQtNTczNC00MzZhLTg1ZWYtZDUxYmQ3ZTY4NzA1XkEyXkFqcGdeQXVyODE5NzE3OTE@._V1_.jpg">

      <div class="card-content">
        <p class="movie-name">
          Wonder Woman
        </p>
      </div>
    </div>
    <div class="card">
      <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSZeZdWD3S9rSzfwlSsnqBWERtgBHR4h_6kHb_fR_6J-BObyxfK">

      <div class="card-content">
        <p class="movie-name">
          Alien: Covenant
        </p>
      </div>
    </div>
    <div class="card">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTX2TBaWUUMpmbhcnr0zypXQltqtQmW9wED_Y8bYrynL98MM1Wq">

      <div class="card-content">
        <p class="movie-name">
          Baywatch
        </p>
      </div>
    </div>

    <div class="card">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXhEeDOpouHNg3A75Ngkgl-pQdWrr8ErxSuYCbb8-Tn7KcuD79">

      <div class="card-content">
        <p class="movie-name">
          Pirates of the Caribbean
        </p>
      </div>
    </div>
    <div class="card">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6NX1HzM5IkUhkwR1Yq7vkd9j5dqv0_Zaz5FCa2bzyJaUx9zOa">

      <div class="card-content">
        <p class="movie-name">
          transformers 5
        </p>
      </div>
    </div>
    <div class="card">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJ8wYlRSHxcAyi7TijH8FjeTLKcYsKi3qCzI8r_X0xKU8LkAn_">

      <div class="card-content">
        <p class="movie-name">
          Planet of the Apes
        </p>
      </div>
    </div>
    <div class="card">
      <img src="https://www.movienewsletters.net/photos/NZL_105934R1.jpg">

      <div class="card-content">
        <p class="movie-name">
          Dark Tower
        </p>
      </div>
    </div>

  </div>



</section>

<footer>

  <div class="logo-box">
    <p class="logo">
      VOD<span>Platform</span>
    </p>
    <p><i class="fa fa-copyright"></i> BigData Project 2024</p>
  </div>

  <ul>
    <li>GitHub</li>
    <li>Documentation</li>
    <li>contact</li>
  </ul>

</footer>


</body>
</html>